/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

html, body, app-root{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  height: 100%;
  width: 100%;
}