.main-container{
    float: left;
    height: 100%;
    width: 100%;
}
.home-container{
    padding: 20px 20px 0;
    height: 100%;
    width: 100%;
    background: #b5b5b5;
    float: left;
    .left-area{
        width: 70%;
        height: calc(100% - 60px);
        float: left;
    }
    .right-area{
        width: 30%;
        height: calc(100% - 60px);
        float: left;
        border-left: 2px solid #6d6d6d;
        border-right: 2px solid #6d6d6d;
    }
}